---
http_interactions:
- request:
    method: get
    uri: https://world.openbeautyfacts.org/api/v0/produit/3600550362626.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status_verbose":"product found","status":1,"product":{"last_edit_dates_tags":["2016-04-08","2016-04","2016","2016-04-08","2016-04","2016","2016-04-08","2016-04","2016","2016-04-08","2016-04","2016","2016-04-08","2016-04","2016","2016-04-08","2016-04","2016","2016-04-08","2016-04","2016"],"labels_hierarchy":["en:neutral-ph-for-the-skin","fr:Tonifie"],"_id":"3600550362626","categories_hierarchy":["en:hygiene","en:shower-gels","en:showers-and-baths"],"states_tags":["en:to-be-checked","en:complete","en:nutrition-facts-completed","en:ingredients-completed","en:expiration-date-to-be-completed","en:characteristics-completed","en:categories-completed","en:brands-completed","en:packaging-completed","en:quantity-completed","en:product-name-completed","en:photos-validated","en:photos-uploaded"],"checkers_tags":[],"labels_tags":["en:neutral-ph-for-the-skin","fr:tonifie"],"code":"3600550362626","traces_tags":[],"lang":"fr","generic_name":"","ingredients_that_may_be_from_palm_oil_tags":[],"generic_name_fr":"","ingredients_text_fr":"Aqua/Water,
        Sodium Laureth Sulfate, Sodium Chloride, Glycerin, Coco-Betaine, PEG-60 Hydrogenated
        Castor Oil, PPG-5-Ceteth-20, CI 19140/Yellow 5, CI 42090/Blue 1, Linalool,
        Parfum/Fragrance, Sodium Benzoate, Salicylic Acid, Sodium Hydroxide, Limonene,
        Citral, Citrus Nobilis Peel Oil/Mandarin Orange Peel Oil, Citric Acid, Polyquaternium-10.
        (FIL C163656/2)","rev":7,"_keywords":["ph","neutre","corps-visage-cheveux","tonifie","lascad","en","ushuaia","gel","douche"],"periods_after_opening":"12M","interface_version_created":"20120622","emb_codes":"","max_imgid":"2","periods_after_opening_tags":["en:12-months"],"additives_tags":["en:e470","en:e508","en:e422","en:e133","en:e211","en:e524","en:e330"],"emb_codes_orig":"","informers_tags":["jeanbono"],"nutrient_levels_tags":[],"photographers_tags":["jeanbono"],"additives_n":7,"allergens_hierarchy":[],"unknown_nutrients_tags":[],"packaging_tags":["plastique"],"manufacturing_places":"","ingredients_n":"22","nutriments":{},"countries_tags":["en:france"],"ingredients_from_palm_oil_tags":[],"brands_tags":["ushuaia","lascad"],"emb_codes_tags":[],"purchase_places":"France","countries_hierarchy":["en:france"],"traces":"","additives_old_tags":["en:e133","en:e330"],"categories":"Gel
        douche","ingredients_text_debug":"Aqua/Water, Sodium Laureth Sulfate, Sodium
        Chloride, Glycerin, Coco-Betaine, PEG-60 Hydrogenated Castor Oil, PPG-5-Ceteth-20,
        CI 19140/Yellow 5, CI 42090/Blue 1, Linalool, Parfum/Fragrance, Sodium Benzoate,
        Salicylic Acid, Sodium Hydroxide, Limonene, Citral, Citrus Nobilis Peel Oil/Mandarin
        Orange Peel Oil, Citric Acid, Polyquaternium-10. (FIL C163656/2)","ingredients_text":"Aqua/Water,
        Sodium Laureth Sulfate, Sodium Chloride, Glycerin, Coco-Betaine, PEG-60 Hydrogenated
        Castor Oil, PPG-5-Ceteth-20, CI 19140/Yellow 5, CI 42090/Blue 1, Linalool,
        Parfum/Fragrance, Sodium Benzoate, Salicylic Acid, Sodium Hydroxide, Limonene,
        Citral, Citrus Nobilis Peel Oil/Mandarin Orange Peel Oil, Citric Acid, Polyquaternium-10.
        (FIL C163656/2)","editors_tags":["jeanbono"],"additives_old_n":2,"created_t":1460119431,"product_name":"Douche
        3 en 1 corps-visage-cheveux","ingredients_hierarchy":["","en:allergenic-fragrances","en:citral","en:citric-acid","en:fragrance","en:glycerin","en:limonene","en:linalool","en:polyquaternium-10","en:sodium-benzoate","en:sodium-chloride","en:sodium-hydroxide","en:sodium-laureth-sulfate","en:water","fr:ci-19140-yellow-5","fr:ci-42090-blue-1","fr:citrus-nobilis-peel-oil-mandarin-orange-peel-oil","fr:coco-betaine","fr:fil-c163656-2","fr:peg-60-hydrogenated-castor-oil","fr:ppg-5-ceteth-20","fr:salicylic-acid"],"creator":"jeanbono","ingredients_from_or_that_may_be_from_palm_oil_n":0,"serving_size":"","no_nutrition_data":"on","last_modified_by":"jeanbono","completed_t":1460119762,"allergens":"","origins":"","stores":"","nutrient_levels":{},"stores_tags":[],"id":"3600550362626","countries":"France","purchase_places_tags":["france"],"traces_hierarchy":[],"interface_version_modified":"20120622","sortkey":1460119762,"last_modified_t":1460119762,"nutrition_score_debug":"missing
        energy","product_name_fr":"Douche 3 en 1 corps-visage-cheveux","correctors_tags":["jeanbono"],"brands":"Ushuaia,Lascad","languages_tags":["en:french","en:1"],"ingredients_n_tags":["22","21-30"],"ingredients_tags":["","en:allergenic-fragrances","en:citral","en:citric-acid","en:fragrance","en:glycerin","en:limonene","en:linalool","en:polyquaternium-10","en:sodium-benzoate","en:sodium-chloride","en:sodium-hydroxide","en:sodium-laureth-sulfate","en:water","fr:ci-19140-yellow-5","fr:ci-42090-blue-1","fr:citrus-nobilis-peel-oil-mandarin-orange-peel-oil","fr:coco-betaine","fr:fil-c163656-2","fr:peg-60-hydrogenated-castor-oil","fr:ppg-5-ceteth-20","fr:salicylic-acid"],"languages_codes":{"fr":5},"codes_tags":["code-13","3600550362626","360055036262x","36005503626xx","3600550362xxx","360055036xxxx","36005503xxxxx","3600550xxxxxx","360055xxxxxxx","36005xxxxxxxx","3600xxxxxxxxx","360xxxxxxxxxx","36xxxxxxxxxxx","3xxxxxxxxxxxx"],"states":"en:to-be-checked,
        en:complete, en:nutrition-facts-completed, en:ingredients-completed, en:expiration-date-to-be-completed,
        en:characteristics-completed, en:categories-completed, en:brands-completed,
        en:packaging-completed, en:quantity-completed, en:product-name-completed,
        en:photos-validated, en:photos-uploaded","entry_dates_tags":["2016-04-08","2016-04","2016"],"nutrition_grades_tags":["unknown"],"packaging":"Plastique","ingredients_text_with_allergens":"Aqua/Water,
        Sodium Laureth Sulfate, Sodium Chloride, Glycerin, Coco-Betaine, PEG-60 Hydrogenated
        Castor Oil, PPG-5-Ceteth-20, CI 19140/Yellow 5, CI 42090/Blue 1, Linalool,
        Parfum/Fragrance, Sodium Benzoate, Salicylic Acid, Sodium Hydroxide, Limonene,
        Citral, Citrus Nobilis Peel Oil/Mandarin Orange Peel Oil, Citric Acid, Polyquaternium-10.
        (FIL C163656/2)","languages":{"en:french":5},"serving_quantity":0,"manufacturing_places_tags":[],"origins_tags":[],"nutrition_data_per":"100g","labels":"pH
        neutre,Tonifie","debug_param_sorted_langs":["fr"],"link":"http://ushuaia-beaute.fr/produits/gamme-homme-shampooing-douche-aux-agrumes-verts/","cities_tags":[],"languages_hierarchy":["en:french"],"categories_tags":["en:hygiene","en:shower-gels","en:showers-and-baths"],"periods_after_opening_hierarchy":["en:12-months"],"quantity":"250
        ml","expiration_date":"","states_hierarchy":["en:to-be-checked","en:complete","en:nutrition-facts-completed","en:ingredients-completed","en:expiration-date-to-be-completed","en:characteristics-completed","en:categories-completed","en:brands-completed","en:packaging-completed","en:quantity-completed","en:product-name-completed","en:photos-validated","en:photos-uploaded"],"ingredients_that_may_be_from_palm_oil_n":0,"allergens_tags":[],"ingredients_from_palm_oil_n":0,"lc":"fr","ingredients":[{"text":"Aqua/Water","id":"aqua-water","rank":1},{"text":"Sodium
        Laureth Sulfate","id":"sodium-laureth-sulfate","rank":2},{"text":"Sodium Chloride","id":"sodium-chloride","rank":3},{"text":"Glycerin","id":"glycerin","rank":4},{"text":"Coco-Betaine","id":"coco-betaine","rank":5},{"text":"PEG-60
        Hydrogenated Castor Oil","id":"peg-60-hydrogenated-castor-oil","rank":6},{"text":"PPG-5-Ceteth-20","id":"ppg-5-ceteth-20","rank":7},{"text":"CI
        19140/Yellow 5","id":"ci-19140-yellow-5","rank":8},{"text":"CI 42090/Blue
        1","id":"ci-42090-blue-1","rank":9},{"text":"Linalool","id":"linalool","rank":10},{"text":"Parfum/Fragrance","id":"parfum-fragrance","rank":11},{"text":"Sodium
        Benzoate","id":"sodium-benzoate","rank":12},{"text":"Salicylic Acid","id":"salicylic-acid","rank":13},{"text":"Sodium
        Hydroxide","id":"sodium-hydroxide","rank":14},{"text":"Limonene","id":"limonene","rank":15},{"text":"Citral","id":"citral","rank":16},{"text":"Citrus
        Nobilis Peel Oil/Mandarin Orange Peel Oil","id":"citrus-nobilis-peel-oil-mandarin-orange-peel-oil","rank":17},{"text":"Citric
        Acid","id":"citric-acid","rank":18},{"text":"Polyquaternium-10.","id":"polyquaternium-10","rank":19},{"text":"FIL
        C163656/2","id":"fil-c163656-2","rank":20}],"ingredients_debug":["Aqua/Water",null,"
        Sodium Laureth Sulfate",null," Sodium Chloride",null," Glycerin",null," Coco-Betaine",null,"
        PEG-60 Hydrogenated Castor Oil",null," PPG-5-Ceteth-20",null," CI 19140/Yellow
        5",null," CI 42090/Blue 1",null," Linalool",null," Parfum/Fragrance",null,"
        Sodium Benzoate",null," Salicylic Acid",null," Sodium Hydroxide",null," Limonene",null,"
        Citral",null," Citrus Nobilis Peel Oil/Mandarin Orange Peel Oil",null," Citric
        Acid",null," Polyquaternium-10. ",null,"FIL C163656/2"],"additives":" [ aqua-water
        -> fr:aqua-water  ]  [ aqua -> fr:aqua  ]  [ sodium-laureth-sulfate -> fr:sodium-laureth-sulfate  ]  [
        sodium-laureth -> fr:sodium-laureth  ]  [ sodium -> en:e470  -> exists  ]  [
        sodium-chloride -> en:e508  -> exists  ]  [ glycerin -> en:e422  -> exists  ]  [
        coco-betaine -> fr:coco-betaine  ]  [ coco -> fr:coco  ]  [ peg-60-hydrogenated-castor-oil
        -> fr:peg-60-hydrogenated-castor-oil  ]  [ peg-60-hydrogenated-castor -> fr:peg-60-hydrogenat[...]
